
@import "tailwindcss";

body{
    color: white;
   font-family: 'Inter', sans-serif;
    background-color: black;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

.trust-subhead span{
    font-family: 'Inter', sans-serif;
}

.line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}